.Rproj.user
.Rhistory
.RData
.Rapp.history

# Example code in package build process
*-Ex.R

# downloaded resources
#inst/tcorpus_ext_resources/*.rds
udpipe_models/*

# downloaded data
GTD_matching/*
Suspect_communities/*

# do not (yet) upload the paper
paper/*

# RStudio files
.Rproj.user/*

# produced vignettes
vignettes/*.html
.Rproj.user

# Rcpp files
src/*.o
src/*.so
src/*.dll

inst/ext_resources/*
